@import url("/home/noldee/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

/* Modulos capsula con el fondo del wallpaper */
#clock,
#workspaces,
#window,
#temperature,
#pulseaudio,
#network {
    background-color: @background;
    color: @foreground;
    padding: 2px 12px;
    border-radius: 12px;
    border: 1px solid @color4;
}

/* Botones circulares sin max-width */
#custom-launcher,
#custom-power {
    background-color: @background;
    border-radius: 50%;
    border: 1px solid @color4;
    padding: 0px 8px;
}

#custom-launcher {
    color: @color4;
    font-size: 16px;
}

#custom-power {
    color: @color1;
    font-size: 15px;
}

#clock { color: @color3; }
#window { color: @color5; }
#temperature { color: @color6; }
#pulseaudio { color: @color2; }
#network { color: @color4; }

#workspaces button {
    padding: 0 8px;
    color: @color8;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    color: @background;
    background-color: @color4;
}
