@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "JetBrainsMono Nerd Font 11";
    background-color: transparent;
    text-color: @foreground;
}

window {
    width: 620px;
    background-color: @background;
    border: 2px;
    border-color: @active-background;
    border-radius: 16px;
    padding: 16px;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @background;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 0px 0px 12px 0px;
}

prompt {
    text-color: @active-background;
    background-color: inherit;
    margin: 0px 8px 0px 0px;
}

entry {
    text-color: @foreground;
    background-color: inherit;
}

listview {
    lines: 5;
    columns: 1;
    spacing: 8px;
    background-color: transparent;
}

element {
    orientation: horizontal;
    children: [ element-icon, element-text ];
    background-color: transparent;
    border-radius: 12px;
    padding: 8px 12px;
}

element selected {
    background-color: @selected-active-background;
    text-color: @background;
}

element-icon {
    size: 70px;
    margin: 0px 14px 0px 0px;
    background-color: inherit;
}

element-text {
    vertical-align: 0.5;
    text-color: inherit;
    background-color: inherit;
    font-weight: bold;
}
